h1{
    text-align: center;
    color: white;
}
body {
    background-image: url('https://wallpaperbat.com/img/11131-cinema-hd-wallpaper-top-free-cinema-hd-background.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
  }
  img{
    width: 100px;
    height: 150px;
  }
  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 15%;
    padding: 50px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  h2{
    color: red;
    font-size: 15px;
  }
  
  .movie-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.5;

  }
  @media screen and (max-width: 600px) {
    .movie-cards {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}
h3{
  text-align: center;
    color: white;
    font-size: 30px;
}